.contents {
    margin: 5em;
    padding: 0 5em;
    font-size: 24px;
}

.contents .toc {
    border: 2px solid black;
    border-radius: 10%;
    background-color: aliceblue;
    padding: 50px;
    min-height: 500px;
}

.contents .toc ul li {
    display: block;
}

.contents h1 {
    text-align: center;
    margin-bottom: 1em;
}

