.contents {
    padding: 0 8em;
    font-size: 18px;
}

@media (max-width: 880px) {
    .contents {
        padding: 0 4em;
    };
}


@media (max-width: 580px) {
    .contents {
        padding: 0 1em;
        font-size: 14px;
    };
}

.contents .toc {
    border: 2px solid black;
    border-radius: 10%;
    background-color: aliceblue;
    padding: 50px;
    min-height: 100px;
    margin-bottom: 20px;
}

.contents .toc ul li {
    display: block;
}

.contents h1 {
    text-align: center;
    margin-bottom: 1em;
}

.contents .references {
    border: 2px solid black;
    border-radius: 10%;
    background-color: antiquewhite;
    padding: 50px;
    min-height: 100px;
}